
.Container{
    width:40%;
    margin: 1rem auto;
}

.Heading{
  font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 48px;
/* or 125% */

color: #050505;
}
.inputBoxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.inputBoxLabel{
    font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: -0.154px;

/* Grey/900 */

color: #111B2B;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
justify-content: center;
}
.inputBoxLabelRequired{
    font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: -0.154px;

/* Grey / 500 */

color: #67728A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.inputBox{
    background: #FFFFFF;

border: 1px solid #CFD9E0;
/* Inner Shadow/Default */

box-shadow: inset 0px 2px 0px rgba(231, 235, 238, 0.2);
border-radius: 6px;
padding: 1rem;
width:213px;
/* position:relative */
}
.HideIcon{
    position:absolute;
    top:72px;
    right:7px;
}
.eyeIcon{
    position:absolute;
    top:82px;
    right:10px;
}
.SubmitBtnContainer{
text-align: center;
margin-top:3.5rem;
}
.SubmitBtn{
    width: 500px;
height: 47px;
color:#FFFFFF;
border:none;
background: #252525;
border-radius: 29px;
}
@media (max-width:780px){
.Container{
    width:100%;
    margin: 0rem auto;
}
.Heading{

font-size: 25px;

}
.SubmitBtn{
    width: 100%;

}
.inputBoxContainer{
width:100%;
flex-direction: column;
}

.inputBox{
width: 100%;
}


}